<app-navbar></app-navbar>

<body>

    <div class="position-relative p-1 p-md5 m-md-2 text-center -bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Acerca de</h1>
            <p class="lean font-weight-normal">
                Esta mini app esta diseñana para poder crear una lista de tareas, editar, eliminarlas o marcarlas como completadas.
            </p>
        </div>
        <picture>
            <img src="http://drive.google.com/uc?export=view&id=1g1pcyHMPRAb13PgysLl5uDvVv2OhYPBG" />
        </picture>
    </div>


</body>

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <h4 class="display-4 font-weight-normal text-center">Team</h4>
                <p class="lean font-weight-normal text-center">
                    Castro Mejía Jonatan Alejandro
                    <br>
                    <img src="http://drive.google.com/uc?export=view&id=18SNevGr5xa0ZxUmHuL1YRUCgI5U48eq8" style="width: 300px; " />
                </p>
            </div>


        </div>
    </div>
</div>