<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean">
    <div class="container-fluid"><a class="navbar-brand" href="/">&nbsp;Tareas</a>


        <ul class="navbar-nav ms-auto">

            <li class="nav-item"><a class="nav-link" href="about">About</a></li>
        </ul>

    </div>
</nav>

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="display-4 font-weight-normal text-center">Team</h4>
                <p class="lean font-weight-normal text-center">
                    Castro Mejía Jonatan Alejandro
                    <br>
                    <img src="http://drive.google.com/uc?export=view&id=18SNevGr5xa0ZxUmHuL1YRUCgI5U48eq8" style="width: 300px; " />
                </p>
            </div>
        </div>
    </div>
</div>